{% extends 'base.html' %}

{% block title %}Backup{% endblock %}

{% block content %}
<div class="backup-settings">
    <h1>Options</h1>
    <button><a class="backup-settings-btn" href="/backup/settings">Settings</a></button>
</div>
<div class="create-backup-for-all">
    <form name="newbackup" method="post">
        <input type="text" placeholder="directory" name="directory" value={{directory}}><br>
        <input class="create-backup-for-all-inp" type="submit" value="Create for all now">
    </form>
</div>
{% endblock %}