<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="content">
    <div class="tree">
        <div class="tree-text">
            <a href="/devices">Devices</a></button><br>
            <a href="/backup">Backup</a></button><br>
            <a href="/statistic">Statistic</a></button>
        </div>
    </div>
    <div class="main">

        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>